.headerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    border: 2px solid black;
    padding: 5px;
}

.profile-button{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

.profile-button-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-button p{
    margin: 0;
    font-size: 16px;
}

.logo{
    width: 100px;
    height: auto;
    background-color: lightblue;
}

.logo:hover{
    cursor:pointer;
}

.notification-icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
}