.budgetBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 5px;
    
}




.budgetPageDiv{
    background-color: lightgray;
    display: grid;
    grid: auto / auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.budgetPageDiv > *{
    text-align: center;
    border: 2px black solid ;
    background-color: lightblue;
    margin: 10px;
}

.create-category-button:hover{
    opacity: 50;
}
