.budgetBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 5px;
}

.budgetContainer{
    height: fit-content;
    background-color: lightgray;
}




.budgetPageDiv{
    background-color: lightgray;
    display: grid;
    grid-template-columns: auto auto auto; 

}

.budgetPageDiv > *{
    text-align: center;
    border: 2px black solid ;
    background-color: lightblue;
    margin: 10px;
}

.create-category-button:hover{
    opacity: 50;
}

.categoryDiv{
    padding: 10px;
    
}

.graphDiv{
    display: flex;
    justify-content: center;
}
