<app-navbar />

<div class="budgetBar">
    <div class="budgetItem">
        Total Budget: 1000kr
    </div>
    <div class="budgetItem">
        Resterende Budget: 900 kr
    </div>

    <button>Tilføj nyt felt</button>
</div>

<div class="budgetPageDiv">
    
    <div class="categoriesDiv"  >
        <h3>
            category 1
        </h3>
        <div>
            image
        </div>
        <div>
            netflix: 100 kr
        </div>
        <div class="totalPriceDiv">
            Total: 100kr
        </div>
    </div>
</div>

<form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
    <!-- Name Div -->
    <div class="name-div">
        <app-input [control]="name" placeholder="Enter category name"/>
    </div>
    <button>Create Category</button>
</form >

<button type="button" (click)="getUser()">Get User</button>
<button (click)="logout()">Logout</button>