<div class="budgetContainer">
    <div class="budgetBar">
        <div class="budgetItem">
            Total Budget: {{(total$ | async) ?? 0}}kr.
        </div>
        <div class="budgetItem">
            Resterende Budget: {{remainingBudget$ | async}} kr
        </div>
        
        <button (click)="showPieChart()">Show Pie Chart</button>
        <select name="category-sorting-dropdown" id="category-sorting-dropdown" [(ngModel)]="selectedSortingOption" (ngModelChange)="onCategorySortingOptionChange()">
          <option value="Alphabetic">Alphabetic</option>
          <option value="Created">Created</option>
          <!-- <option value="LastModified">Most Recent</option> -->
<!--           <option value="descending">Descending</option>
          <option value="ascending">Ascending</option> -->
        </select>
    </div>
    <div class="budgetPageDiv">
        
        <div *ngFor="let category of categories$ | async">
            <app-category (deleteCategory)="onRemoveCategory(category)" [category]="category" (expenseChange)="updateChart()"></app-category>
        </div>
        
        <div class="categoryDiv">
            <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
                <!-- Name Div -->
                <div class="name-div">
                    <app-input [control]="name" placeholder="Enter category name"/>
                </div>
                <button class="create-category-button" [disabled]="categoryForm.invalid">Create Category</button>
            </form >
        </div> 
    </div>
    
    <div class="graphDiv" *ngIf="showGraph">
        <app-new-charts [input]="input"/>
    </div>
</div>
