.profilePageDiv{
    background-color: lightgray;
    height:100%;
}

.headline{
    
}

.totalBudgetDiv{
    padding: 10px;
}

.shareRequestDiv{
    padding: 10px;
}
.rejectBtn{
    margin-left: 10px;
}