<div class="profilePageDiv">
   



    <div class="totalBudgetDiv">
        <h3 class="headline">Indtast dit totale budget</h3>
        <form [formGroup]="userForm" (ngSubmit)="setTotalBudget()">
            <!-- Name Div -->
            <div class="name-div">
                <app-input [control]="totalBudget" type="number" placeholder="Indtast dit totale budget"/>
            </div>
            <button>Sæt total budget</button>
            <div>
                
            </div>
        </form >
    </div>

    <div class="shareRequestDiv">
        <div>{{user?.username}} would like to share INDSÆT CATEGORY NAVN category with you.</div>
        <button class="acceptBtn" (click)="acceptCategorySharing()" > <img src="../../assets/check.svg" alt=""> </button>
        <button class="rejectBtn" (click)="rejectCategorySharing()"> <img src="../../assets/x.svg" alt=""></button>
    </div>

</div>


