<div class="categoriesDiv"  >
    <h3>
        {{category.name}}
    </h3>
    <div>
        image
    </div>
    <div *ngFor="let expense of expenses$ | async">
        <app-expense [expense]="expense" [canDelete]="true" (remove)="onRemoveExpense(expense)"></app-expense>
    </div>
    <button type="button" [disabled]="!canAddExpense" (click)="createExpense()">New Expense</button>
    
    <div class="container-div">
        <!-- Place New Expense Below -->
        <ng-container #dynamicComponentContainer></ng-container>
    </div>

    <div class="totalPriceDiv">
        Total: {{total$ | async}}
    </div>

    <button type="button" (click)="removeCategory()">Delete</button>
</div>