.categoriesDiv{
    background-color: lightblue;
    
}

.totalPriceDiv{
    border-top: 2px black solid ;
    margin-top: 10px;
    
}

.add-expense-button{
    color: white;
    background-color: black;
}

.add-expense-button:disabled{
    color: white;
    background-color: gray;
    opacity: 50;
}

.container-div{
    width: 20px;
}