.profileDiv{
    background-color: lightgrey;
    height: 100%;
}

.loginDiv{
   

    align-items: center;
    text-align: center;
    padding-top: 200px;
    
}

.logo{
    width: 200px;
    height: auto;
}

