<div class="profileDiv">
    <div class="loginDiv">
        <img class="logo" src="../../assets/budgetPlanner.svg" alt="">
        <h3>Login eller registerer dig for få et overblik over dit budget</h3>
        <button *ngIf="!(auth.isAuthenticated$ | async)" (click)="login()">Login</button>
    </div>

    <div class="smash">
        <div *ngIf="isSmashed">
            <img src="../../assets/clegane.gif" alt="">
        </div>
        <button (click)="smash()">Press for smash</button>
    </div>
    <app-new-charts></app-new-charts>
</div>
