<div class="chart-container">
    <div class="outer-canva-container">
        <div class="canvas-container">
            <h2>% of each category based on total budget</h2>
            <button (click)="toggleChartType()">Toggle between pie and bar char</button>
            <canvas id="canvas">{{chart}}</canvas>
        </div>
    
        <div class="canvas-container">
            <h2>Total spent on each category.</h2>
            <canvas id="canvas2">{{chart2}}</canvas>
        </div>
    </div>
</div>
